# --- Archivos de salida de Keil µVision ---
# Carpetas con objetos compilados y listados
Listings/
Objects/

# --- Archivos de depuración y configuración de usuario ---
*.uvguix.*
*.uvoptx
*.uvgui.*
JLinkLog*
JLinkSettings.ini

# --- Archivos temporales de compilación y backups ---
*.o
*.d
*.crf
*.htm
*.dep
*.build_log.htm
*.lnp
*.axf
*.sct
*.map
*.lst
*.bak

# --- Archivos de sistema ---
.DS_Store
Thumbs.db
